Flask>0.12.3
Flask-Admin
Flask-Bootstrap
Flask-Cors
Flask-Jsonpify
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-mongoengine
Flask-WTF
flask-moment
Jinja2
requests
WTForms==2.1
Flask-DebugToolbar
flask-ckeditor
gunicorn
geoip2
basis_set_exchange==0.8.9
https://www.bennyp.org/basis_set_exchange_archive-0.8.9.tar.gz
