{% extends 'base.html' %}


{% block main_contents %}
<main class="container-fluid">

    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
            <div id="flash_msgs" class="row justify-content-center">
              <div class="col-8-md mb-0 alert alert-{{ category }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
              </div>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    <!-- First row (panel and periodic) -->
    <div class="row justify-content-center px-3 py-1">
        <nav class="col-lg-3 sidebar mr-lg-3 p-0">
            <div class="row mb-2 no-gutters">

                <select id="role" class="selectpicker col-md-6 pr-md-1" data-style="selectpicker_style btn-sm">
                    <option value="" selected>All roles</option>
                    {%  for key, name in roles.items() -%}
                        <option value="{{ key }}">{{ name }}</option>
                    {%- endfor %}
                </select>

                <select id="ecp" class="selectpicker col-md-6" data-size="3" data-style="selectpicker_style btn-sm">
                    <option value="" selected>All</option>
                    <option value="no_ecp">All Electron</option>
                    <option value="ecp">Orbital with ECP</option>
                </select>

            </div>
            <div class="row">
                <div class="col-12">
                    <select id="basis_sets" class="custom-select mb-2" size="24">
                        {%  for key, name in basis_sets -%}
                            <option value="{{ key }}">{{ name }}</option>
                        {%- endfor %}
                    </select>
                </div>

                <div class="col-12 input-group text-align-bottom">
                    <input id="search_name" type="text" name="search" class="form-control" placeholder="search basis sets..." />
                </div>

            </div>
        </nav> <!-- left nav -->

    <div id="periodic_container" class="col-lg-8 py-3 px-4 border">

        <div id="periodic_header" class="row px-2 pb-2">
            <div class="col-6 pl-1"><b>Total found: <span id="total_found"></span></b></div>
            <div class="col-6 text-right pr-0">
                <button id="select_all_avail" class="btn btn-sm unique-color mr-2">Select All</button>
                <button id="reset_selection" class="btn btn-sm btn-danger">Reset Selection</button>
            </div>
        </div>
        <div id="periodic_table" class="px-2"></div>
    </div>


    </div><!-- end first row (panel and periodic) -->


    <!-- Second row (summary, download, citation) -->
    <div class="row justify-content-center px-3 py-1 align-items-start"> <!-- removes same height of columns -->

        <div class="col-lg-3 mr-lg-3"><div class="row">
        <!-- Left column, BS Summary info, download references -->

        <!-- Download References -->
        <div class="card col-12 mb-2 p-3">
            <h5 class="card-title">References for selected basis</h5>
            <div class="card-block">
                <form class="form-inline">
                    <div class="form-group my-1 mr-sm-2">
{#                      <label class="mr-sm-2" for="format">Format</label>#}
                      <select id="cformat" class="custom-select form-control form-control-sm">
                          {% for format, display_name in ref_formats.items() -%}
                              <option value="{{ format }}">{{ display_name }}</option>
                          {% endfor -%}
                      </select>
                    </div>
                  <button id="get_references" type="submit" class="btn btn-sm unique-color">Get References</button>
                </form>
            </div>
        </div><!-- download -->

        <!-- Selected basis detail-->
        <div class="card col-12 p-3">
            <h5 class="card-title">Selected Basis Set: <span id="basis_set_name">(none)</span></h5>
            <div class="card-block">
                <table>
                    <tr>
                         <td class="text-right align-text-top pr-1"><b>Description: </b></td>
                         <td class="pl-1"><span id="description"></span></td>
                    </tr>
                    <tr>
                          <td class="text-right align-text-top pr-1"><b>Latest&nbsp;Version: </b></td>
                          <td class="pl-1"><span id="latest_version"></span></td>
                    </tr>
                    <tr>
                          <td class="text-right align-text-top pr-1"><b>Last Update: </b></td>
                          <td class="pl-1"><span id="last_update"></span></td>
                    </tr>
                    <tr>
                          <td class="text-right align-text-top pr-1"><b>Role: </b></td>
                          <td class="pl-1"><span id="basis_role"></span></td>
                    </tr>
                    <tr>
                          <td class="text-right align-text-top pr-1"><b>Family: </b></td>
                          <td class="pl-1"><span id="basis_family"></span></td>
                    </tr>
                    <tr>
                          <td class="text-right align-text-top pr-1"><b>Function&nbsp;Types: </b></td>
                          <td class="pl-1"><span id="basis_functions"></span></td>
                    </tr>
                </table>
            </div>
            <div class="text-right">
                <a id="basis_notes" class="card-link">Basis Set Notes</a>
                <a id="family_notes" class="card-link">Family Notes</a>
            </div>
        </div>

        </div></div>

        <!-- Right column, download and citation -->
        <div class="col-lg-8">
        <div class="row">

        <!-- Download basis set -->
        <div class="card col-lg mb-2 p-3">
            <h5 class="card-title">Download basis set</h5>
            <div class="card-block">
                <form class="form-inline">
                    <div class="form-group my-1 mr-sm-2">
                      <label class="mr-sm-2" for="format">Format</label>
                      <select id="format" class="custom-select form-control form-control-sm">
                          {% for format, display_name in formats.items() -%}
                              <option value="{{ format }}">
                                  {{ display_name }}
                              </option>
                          {% endfor %}
                      </select>
                    </div>

                    <button id="get_basis" type="submit" class="btn unique-color">Get Basis Set</button>
                    <!-- Advanced get basis -->
                    <a id="advanced_download_link" href="#" class="card-link ml-3">
                      Advanced
                    </a>
                </form>
            </div>
        </div>

        <!-- Cite this website-->
        <div class="card card-body col-lg hidden-xs-down p-3">
            <h5 class="card-title">Citation</h5>
            <div class="card-block">
                <p class="card-text m-1">When publishing results obtained from use of the Basis Set Exchange software, please cite: </p>
                <ul>
                    <li><em>A New Basis Set Exchange: An Open, Up-to-date Resource for the Molecular Sciences Community.</em>
                        Benjamin P. Pritchard, Doaa Altarawy, Brett Didier, Tara D. Gibson, Theresa L. Windus.
                        <em>J. Chem. Inf. Model.</em> <strong>2019</strong>, doi:acs.jcim.9b00725.
                    </li>
                </ul>

                <p class="card-text m-1">For citing the previous EMSL/PNNL Basis Set Exchange, please cite the following references: </p>
                <ul>
                    <li><em>The Role of Databases in Support of Computational Chemistry Calculations</em>
                            Feller, D., <em>J. Comp. Chem.</em> <strong>1996</strong>, <em>17(13)</em>, 1571-1586.
                    </li>
                    <li><em>Basis Set Exchange: A Community Database for Computational Sciences</em>
                            Schuchardt, K.L., Didier, B.T., Elsethagen, T., Sun, L., Gurumoorthi, V., Chase, J., Li, J., and Windus, T.L.
                            <em>J. Chem. Inf. Model.</em> <strong>2007</strong>, <em>47(3)</em>, 1045-1052, doi:10.1021/ci600510j. 
                    </li>
                </ul>
            </div>
        </div>
        </div>
        </div> <!-- right column -->

    </div> <!-- second row -->
</main><!-- outer container-->

<!-- Advanced get basis Modal -->
<div id="advanced_basis" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="advanced_basis_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="advanced_basis_label">Advanced options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group my-1">
                      <label class="font-weight-bold" for="format2">Format</label>
                      <select id="format2" class="custom-select custom-select-sm form-control">
                          {% for format, display_name in formats.items() -%}
                              <option value="{{ format }}">
                                  {{ display_name }}
                              </option>
                          {% endfor %}
                      </select>
                    </div>

                    <div class="form-group my-1">
                      <label class="mt-2 font-weight-bold" for="format">Version</label>
                      <select id="version" class="custom-select custom-select-sm form-control">
                      </select>
                    </div>

                    <div class="form-group my-1">
                        <label class="mt-2 font-weight-bold">Other options:</label>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="optimize_general" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="optimize_general">Optimize General Contractions</label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="uncontract_general" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="uncontract_general">Uncontract General</label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="uncontract_spdf" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="uncontract_spdf">Uncontract SPDF</label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="uncontract_segmented" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="uncontract_segmented">Uncontract Segmented</label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="make_general" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="make_general">Generally-contract all</label>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="get_basis_advanced" type="submit" class="btn unique-color">Get Basis Set</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="request_basis_dialog" class="modal fade" tabindex=-1 role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

