<!doctype html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="BSE"/>
	<title>BSE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/periodic_table.js') }}"></script>
</head>


<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../static/images/BaSE_logo_sm.jpg" height="30" class="d-inline-block align-top" alt=""> ver. 2.0
      </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Release Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Feedback</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">About</a>
              <a class="dropdown-item" href="#">How to</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </nav>


<main class="container-fluid">

    <!-- First row (panel and periodic) -->
    <div class="row px-3 py-1">
        <nav class="col-lg-3 sidebar mr-lg-3 p-0">
            <div class="row mb-2 no-gutters">

                <select id="role" class="selectpicker col-md-4 pr-md-1" data-size="4" data-style="selectpicker_style btn-sm">
                    <option value="" selected>All roles</option>
                    <option value="orbital">Orbital</option>
                    <option value="mp2fit">MP2Fit</option>
                    <option value="jkfit">JKFit</option>
                </select>

                <select id="ecp" class="selectpicker col-md-8" data-size="3" data-style="selectpicker_style btn-sm">
                    <option value="" selected>All</option>
                    <option value="no_ecp">All Electron</option>
                    <option value="ecp">Orbital with effective core Potentials</option>
                </select>

            </div>
            <div class="row">
                <div class="col-12">
                    <select id="basis_sets" class="custom-select mb-1" size="23" style="overflow-y: scroll">
                        {%  for key, name in basis_sets -%}
                            <option value="{{ key }}">{{ name }}</option>
                        {%- endfor %}
                    </select>
                </div>

                <div class="col-12 input-group text-align-bottom mb-1">
                    <input id="search_name" type="text" name="search" class="form-control" placeholder="search basis sets..." />
        {#                <div class="input-group-append" ><i class="fa fa-search"></i></div>#}
                </div>

            </div>
        </nav> <!-- left nav -->

    <div id="periodic_container" class="col-lg-8 py-3 px-4 border">
        <div id="periodic_header" class="row px-2 pb-2">
            <div class="col-7 pl-1"><b>Total found:</b><span id="total_found"></span></div>
            <div class="col-5 text-right pr-2">
                <button id="select_all_avail" class="btn btn-sm mr-2">Select All</button>
                <button id="reset_selection" class="btn btn-sm">Reset Selection</button>
            </div>
        </div>
        <div id="periodic_table" class="px-2"></div>
    </div>


    </div><!-- end first row (panel and periodic) -->


    <!-- Second row (summary, download, citation) -->
    <div class="row px-3 py-1 align-items-start"> <!-- removes same height of columns -->

        <div class="col-lg-3 mr-lg-3"><div class="row">
        <!-- Left column, BS Summary info, download references -->

        <!-- Download References -->
        <div class="card col-12 mb-2 p-3">
            <h5 class="card-title">References for selected basis</h5>
            <div class="card-block">
                <form class="form-inline">
                    <div class="form-group my-1 mr-sm-2">
                      <label class="mr-sm-2" for="format">Format</label>
                      <select id="cformat" class="custom-select form-control form-control-sm">
                          {% for format, display_name in ref_formats.items() -%}
                              <option value="{{ format }}" {% if format == 'gaussian94' %} selected {% endif %}>
                                  {{ display_name }}
                              </option>
                          {% endfor %}
                      </select>
                    </div>
                  <button id="get_references" type="submit" class="btn unique-color">Get References</button>
                </form>
            </div>
        </div><!-- download -->

        <!-- Selected basis detail-->
        <div class="card col-12 p-3">
            <h5 class="card-title">Selected Basis Set: <span id="basis_set_name"></span></h5>
            <div class="card-block">
                <b>Description: </b><span id="description"></span><br />
                <b>Last Updated: </b><span id="last_updated"></span><br />
                <b>Latest Version: </b><span id="latest_version"></span>
            </div>
            <div class="text-right">
                <a id="basis_notes" href="#" class="card-link">Basis Set Notes</a>
                <a id="family_notes" href="#" class="card-link">Family Notes</a>
            </div>
        </div>

        </div></div>

        <!-- Right column, download and citation -->
        <div class="col-lg-8">
        <div class="row">

        <!-- Download basis set -->
        <div class="card col-lg mb-2 p-3">
            <h5 class="card-title">Download basis set</h5>
            <div class="card-block">
                <form class="form-inline">
                    <div class="form-group my-1 mr-sm-2">
                      <label class="mr-sm-2" for="format">Format</label>
                      <select id="format" class="custom-select form-control form-control-sm">
                          {% for format, display_name in formats.items() -%}
                              <option value="{{ format }}" {% if format == 'gaussian94' %} selected {% endif %}>
                                  {{ display_name }}
                              </option>
                          {% endfor %}
                      </select>
                    </div>

                    <button id="get_basis" type="submit" class="btn unique-color">Get Basis Set</button>
                    <!-- Advanced get basis -->
                    <a type="button" href="#" class="card-link ml-3" data-toggle="modal" data-target="#advanced_basis">
                      Advanced
                    </a>
                </form>
            </div>
        </div>

        <!-- Cite this website-->
        <div class="card card-body col-lg hidden-xs-down p-3">
            <h5 class="card-title">Citation</h5>
            <hr class="mt-1">
            <div class="card-block">
                <p class="card-text">When publishing results obtained from use of the Basis Set Exchange (BSE) software and the EMSL Basis Set Library, please cite: </p>

                <ul>
                    <li><em>The Role of Databases in Support of Computational Chemistry Calculations.</em>
                        Feller, D., J. Comp. Chem., 17(13), 1571-1586, 1996.
                    </li>
                    <li><em>Basis Set Exchange: A Community Database for Computational Sciences.</em>
                        Schuchardt, K.L., Didier, B.T., Elsethagen, T., Sun, L., Gurumoorthi, V., Chase, J., Li, J., and Windus, T.L.
                        J. Chem. Inf. Model., 47(3), 1045-1052, 2007, doi:10.1021/ci600510j.
                    </li>
                </ul>
            </div>
        </div>
        </div>
        </div> <!-- right column -->

    </div> <!-- second row -->
</main><!-- outer container-->

<!-- footer here -->


<!--Footer-->
<footer class="page-footer container-fluid pt-3 mt-5">

    <div class="row footer-top justify-content-center">
      <div class="col-auto">
{#          <h4>Popular Services</h4>#}
          <a class="navbar-brand" href="http://molssi.org/" target="_blank">
            <img src="../static/images/molssi.jpg" height="50" class="d-inline-block" alt="">
          </a>
      </div>
      <div class="col-auto">
          <a class="navbar-brand" href="https://www.emsl.pnl.gov/emslweb/" target="_blank">
            <img src="../static/images/emsl_logo.gif" height="50" class="d-inline-block" alt="">
          </a>
      </div>
    </div>

    <!--Copyright-->
      <div class="row justify-content-center mt-3">
        <div class="col-auto">
          <p class="text-center">&copy; Copyright 2018 - BSE .  All rights reserved.</p>
        </div>
      </div>
    </div>

</footer>




<!-- Advanced get basis Modal -->
<div id="advanced_basis" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="advanced_basis_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="advanced_basis_label">Advanced options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group my-1">
                      <label class="" for="format2">Format</label>
                      <select id="format2" class="custom-select form-control form-control-sm">
                          {% for format, display_name in formats.items() -%}
                              <option value="{{ format }}" {% if format == 'gaussian94' %} selected {% endif %}>
                                  {{ display_name }}
                              </option>
                          {% endfor %}
                      </select>
                    </div>

                    <div class="form-group my-1">
                      <label class="mt-2" for="format">Version</label>
                      <select id="version" class="custom-select form-control form-control-sm">
                      </select>
                    </div>

                    <div class="form-group my-1">
                        <label class="mt-2">Other options:</label>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="optimize_general" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="optimize_general">Optimize General Contractions</label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="uncontract_general" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="uncontract_general">Uncontract General</label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="uncontract_spdf" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="uncontract_spdf">Uncontract SPDF</label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input id="uncontract_segmented" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="uncontract_segmented">Uncontract Segmented</label>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn unique-color" data-dismiss="modal">Cencel</button>
              <button id="get_basis_advanced" type="submit" class="btn unique-color">Get Basis Set</button>

            </div>
        </div>
    </div>
</div>

</body>
</html>
